body {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  margin: 0;

  background: linear-gradient(
    270deg,
    #ff6a88,
    #ff99ac,
    #fbc2eb,
    #a6c1ee
  );
  background-size: 800% 800%;
  animation: bgMove 10s ease infinite;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

button {
  padding: 18px 36px;
  font-size: 20px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}
/* MOBILE OPTIMIZATION */
@media (max-width: 600px) {
  h1 {
    font-size: 28px; /* smaller title on phones */
    padding: 0 10px;
  }

  button {
    font-size: 16px;
    padding: 12px 24px;
    margin: 8px;
  }
}
